
@{
    ViewData["Title"] = "Blippi";
}





    <td>
        <div span style="background-color:floralwhite; color:cadetblue; border:groove; text-align:center ;padding: 10px 10px 2px 4px">
            <span span style="font-size:large">
                During one of his travels to encourage curiosity in the young eyes with his shows the roads, he dropped by the Seattle Children's Museum and explored many things, especially the Imagination Studio! <br />
                Because of the parents appreciating the interactive and educational teachings with the help of the lovable Blippi persona, he showed what to do inside of the Imagination studio. <br/>
                Enjoy the show!
            </span>
        </div>
    </td>
<br />
<br />
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/2arNc0AaaM4?start=427" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>


