
@{
    ViewData["Title"] = "Blippi";
}


<br/>
<iframe width="560" height="400" src="https://www.youtube.com/embed/2arNc0AaaM4?start=427" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<td>
    <div class="side-col">
        <span style="font-size:x-large; text-align: center">
            During one of his travels to encourage curiosity in the young eyes with his shows the roads, he dropped by the Seattle Children's Museum and explored many things, especially the Imagination Studio! <br />
            
            Because of the parents appreciating the interactive and educational teachings with the help of the lovable Blippi persona, he showed what to do inside of the Imagination studio.
            Enjoy the show!
        </span>
    </div>
</td>




