
@{
    ViewData["Title"] = "Developer";
}

<br />
<div class="text-center" style="background-color: floralwhite; color:cadetblue; border-style:dotted; padding: 10px 3px 2px 4px; font-family:Cooper"><h1 class="display-5">Meet Brea Zeller!</h1></div>
<br />
<br />
<br />
<section class="main-col">
    <img src="~/images/portrait.jpg">
</section>
<div>
    <section class="side-col">
        She has been working in the Imaginatation Studio and loves to meet the young visitors who came to make the cool stuff in the studio. <br />
        She loves the Imagination studio so much that she designed the desktop application to showcase the amazing things about the studio!

    </section>
</div>

