@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div class="text-center" style="background-color: floralwhite; color:cadetblue; border-style:dotted; padding: 10px 3px 2px 4px; font-family:Cooper"><h1 class="display-5">Welcome to Imagination Studio!</h1></div>
<br /> 
<div span style="background-color:floralwhite; color:cadetblue; border:groove; text-align:center ;padding: 10px 10px 2px 4px">
    <span span style="font-size: x-large">Inside of the<a href="http://thechildrensmuseum.org/"> Seattle Children's Museum</a>, the art studio is where we strive to ignite curiosity and encourage the children to become active, life-long learners. <br />
    Our Mission is to bring to life the joy of discovery for children and their families through fun, creative, hands-on exploration of the world around them.
</span>
</div>
<br/>
<br/>
<div class="main-col"style="background-color:floralwhite; color:cadetblue; border:groove; text-align:center ;padding: 10px 10px 2px 4px">We value the family as a child’s first teacher. We value informal learning environments, with open-ended exploration.<br/>
    For these reasons we create an asset-rich environment supported by the structure of The 40 Assets ™, to gain proven results in the development of children.</div>
<div class="side-col"style="background-color:floralwhite; color:cadetblue; border:groove; text-align:center ;padding: 10px 10px 2px 4px">

</div>

