@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" span style="color:cadetblue">Welcome to Imagination Studio!</h1>
    <p span style="color:cadetblue">Our art studio is located in the organization of Seattle Children's Museum!</p>
    <p span style="color: cadetblue">Our Mission is to bring to life the joy of discovery for children and their families through fun, creative, hands-on exploration of the world around them.</p>
    <p span style="color: cadetblue"> We strive to ignite curiosity and encourage them to become active, life-long learners.</p>
</div>
