@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" span style="background-color:antiquewhite; color:cadetblue; border:groove">
    <h1 class="display-5">Welcome to Imagination Studio!</h1>
    <span span style="font-size: x-large">Inside of the Seattle Children's Museum, the art studio is where we strive to ignite curiosity and encourage the children to become active, life-long learners.
    <p>Our Mission is to bring to life the joy of discovery for children and their families through fun, creative, hands-on exploration of the world around them.</p> </span>
</div>


