@{
    ViewData["Title"] = "Privacy Policy";
}

<br/>
    <div span style="background-color:floralwhite; font-size:xx-large; color:cadetblue; border:groove; text-align:center ;padding: 10px 10px 2px 4px">
        Seattle Children's Museum | 305 Harrison Street Seattle, WA 98109 <br />
        Telephone number: (206) 441-1768 <br/>
        The museum is open from Tuesday to Sunday: 10:00 am – 5:00 pm <br/>
        © 2020 All Rights Reserved
        </div>
    
